body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./img/bg-intro-desktop.png');
  background-color: #FF8DA7;
  font-size: 16px;
}

.main {
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.section-left {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.section-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.abbonamento {
  color: white;
  background-color:#6055a5;
  height: 50px;
  width: 480px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 360px) and (max-width: 768px) {
  .container {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .section-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .section-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .abbonamento {
    width: 85%;
    height: 80px;
    text-align: center;
  }
}